# Redis
REDIS_USER=coloque_aqui
REDIS_PASSWORD=coloque_aqui

# Postgres
POSTGRES_USER=coloque_aqui
POSTGRES_PASSWORD=coloque_aqui
POSTGRES_DB=coloque_aqui

# WAHA
WEBHOOK_URL=coloque_aqui
WAHA_API_KEY=coloque_aqui

# N8N
N8N_WEBHOOK_URL=coloque_aqui
N8N_HOST=coloque_aqui
